body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #212121;
    background-color: #fff;
}



            /*header*/

.logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
        color: #2196F3;
}

.logo-header {
    color: #000000;
}

.link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link {
    text-decoration: none;
    color: #212121;
}

.link:hover,
.link:focus {
    color: #2196F3;
}

.contact-link {
        text-decoration: none;
        font-weight: 500;
        line-height: 1.14x;
        letter-spacing: 0.02em;
        color: #757575;
}

.contact-link:hover,
.contact-link:focus {
    color: #2196F3;
}

            /*--main--*/


.button-nav {
    font-weight: 500;
    width: 130px;
    height: 38px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    line-height: 1.63px; 
    text-align: center;
    background-color: #F5F4FA;
}

.button-nav:hover,
.button-nav:focus {
    color: white;
    background: #2196F3
}


.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.desc {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575 ;

}




/* footer */

.page-footer {
        background: #2F303A;
}


.logo-footer {
    color: #ffffff;
}

.address-list {
    font-style: normal;
}

.footer-address {
            text-decoration: none;
            font-style: normal;
            line-height: 1.71;
            color: #ffffff;
}

.footer-contacts {
        text-decoration: none;
        font-style: normal;
        line-height: 1.71;
        color: rgba(255, 255, 255, 0.6);
}