:root {
    --primary-text-color: #212121;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --background-footer: #2F303A;
    --header-logo: #000000;
    --background-button: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--primary-text-color)
    background-color: var(--primary-white-color);
}



            /*header*/

.logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
        color: var(--accent-color);
}

.logo-header {
    color: var(--header-logo);
}

.link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link {
    text-decoration: none;
    color: var(--primary-text-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.contact-link {
        text-decoration: none;
        font-weight: 500;
        line-height: 1.14x;
        letter-spacing: 0.02em;
        color: var(--title-text-color)
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

            /*--main--*/


.button-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 130px;
    height: 38px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    line-height: 1.63px; 
    text-align: center;
    background-color: var(--background-button)
}

.button-nav:hover,
.button-nav:focus {
    color: var(--primary-white-color);
    background: var(--accent-color);
}


.title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.desc {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

}




/* footer */

.page-footer {
        background: var(--background-footer)
}


.logo-footer {
    color: var(--primary-white-color);
}

.address-list {
    font-style: normal;
}

.footer-address {
            text-decoration: none;
            font-style: normal;
            line-height: 1.71;
            color: var(--primary-white-color);
}

.footer-contacts {
        text-decoration: none;
        font-style: normal;
        line-height: 1.71;
        color: var(--secondary-text-color)
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}